body {
  font-family: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  background-color: blue;
  transition: all 0.4s ease-in-out;
  color: white;
  padding: 10px;
  cursor: pointer;
  border: none;
  outline: none;
}

button:hover {
  background-color: #0000e8;
}

.not-btn:hover {
  background-color: transparent;
}
